@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Comment

// Modals and forms
#gateKeeperModal {
	font-size: 12px; 
	.dis {
		p {
			font-size: 12px !important;
		}
	}
	.adverse {
		border: 1px solid grey;
	}
}

// Workaround as CF7 doesn't support putting a CSS class where you'd want it.
#emails-ok input {
	border: 1px solid #23185B !important;

	--#{$prefix}form-check-bg: #{$form-check-input-bg};
  
	width: $form-check-input-width;
	height: $form-check-input-width;
	margin-top: ($line-height-base - $form-check-input-width) * .5; // line-height minus check height
	vertical-align: top;
	appearance: none;
	background-color: var(--#{$prefix}form-check-bg);
	background-image: var(--#{$prefix}form-check-bg-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: $form-check-input-border;
	print-color-adjust: exact; // Keep themed appearance for print
	@include transition($form-check-transition);
  
	&[type="checkbox"] {
	  @include border-radius($form-check-input-border-radius);
	}
  
	&:active {
	  filter: $form-check-input-active-filter;
	}
  
	&:focus {
	  border-color: $form-check-input-focus-border;
	  outline: 0;
	  box-shadow: $form-check-input-focus-box-shadow;
	}
  
	&:checked {
	  background-color: $form-check-input-checked-bg-color;
	  border-color: $form-check-input-checked-border-color;
  
	  &[type="checkbox"] {
		@if $enable-gradients {
		  --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-checked-bg-image)}, var(--#{$prefix}gradient);
		} @else {
		  --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-checked-bg-image)};
		}
	  }
  
	  &[type="radio"] {
		@if $enable-gradients {
		  --#{$prefix}form-check-bg-image: #{escape-svg($form-check-radio-checked-bg-image)}, var(--#{$prefix}gradient);
		} @else {
		  --#{$prefix}form-check-bg-image: #{escape-svg($form-check-radio-checked-bg-image)};
		}
	  }
	}
  
	&[type="checkbox"]:indeterminate {
	  background-color: $form-check-input-indeterminate-bg-color;
	  border-color: $form-check-input-indeterminate-border-color;
  
	  @if $enable-gradients {
		--#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-indeterminate-bg-image)}, var(--#{$prefix}gradient);
	  } @else {
		--#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-indeterminate-bg-image)};
	  }
	}
}
/*
Global Style
<<<<======================================================>>>>*/
body {
	font-size: $font-size;
	font-family: $body-font-family;
	color: black;
	font-weight: 400;
}

.d-table {
	width: 100%;
	height: 100%;
}

.d-table-cell {
	vertical-align: middle;
}

a {
	transition: $transition;
	color: black;

	&.semibold {
		font-weight: 600;
	}

	&:hover {
		color: $main-color;
	}

	&:focus {
		text-decoration: none;
	}
}

button {
	outline: 0 !important;
	box-shadow: none;
	border: none;
	padding: 0;

	&:focus {
		box-shadow: none;
	}
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-weight: 600;
	font-family: $heading-font-family;
}

span {
	&.semibold {
		font-weight: 600;
	}
}

p {
	font-size: $font-size;
	margin: 8px 0px 15px 0px;
	line-height: 32px;
	&.semibold {
		font-weight: 600;
	}

	&:last-child {
		margin-bottom: 0;
	}
	&.regular {
		font-size: 23px;
	}
	&.smallprint {
		font-size: 12px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.form-control {
	height: 55px;
	border: 6px solid #23185B;
	background-color: #F5F5F5;
	color: $heading-color;
	border-radius: $border-radius;
	font-size: 15px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 14px;
	transition: $transition;

	&::placeholder {
		color: #707070;
	}

	&:focus {
		color: $black-color;
		background-color: transparent;
		box-shadow: unset;
		outline: 0;
		border-color: $main-color;
	}
}

.form-control:hover,
.form-control {
	&:focus {
		box-shadow: unset;
	}
}

textarea {
	&.form-control {
		height: auto;
	}
}

.ptb-100 {
	padding: {
		top: 100px;
		bottom: 100px;
	}
}

.ptb-70 {
	padding: {
		top: 70px;
		bottom: 70px;
	}
}

.pt-100 {
	padding-top: 100px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pt-70 {
	padding-top: 70px;
}

.pb-70 {
	padding-bottom: 70px;
}

.ptb-50 {
	padding: {
		top: 50px;
		bottom: 50px;
	}
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.ps-15 {
	padding-left: 15px;
}

.pe-15 {
	padding-right: 15px;
}

.ms-15 {
	margin-left: 15px;
}

.me-15 {
	margin-right: 15px;
}

.pt-110 {
	padding-top: 151px;
}

.bg-color-23185b {
	background-color: #23185b;
}

.bg-color-f4f4f4 {
	background-color: #f4f4f4;
}

.bg-color-f5f5f5 {
	background-color: #f5f5f5;
}

.bg-color-0d5fb7 {
	background-color: #0d5fb7;
}



/*
Main Btn Style
<<<<======================================================>>>>*/
.main-btn {
	display: inline-block;
	position: relative;
	background-color: $main-color;
	border: none;
	color: $white-color;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	padding: 20px 50px;
	transition: $transition;
	text-decoration: none;
	border-radius: 50px;

	&:hover {
		background-color: $main-color;
		color: $white-color;
	}

	&.active {
		background-color: $main-color;
		color: $white-color;

		&:hover {
			background-color: $main-color;
		}
	}
}

/*
Main Navbar Style
<<<<======================================================>>>>*/
.navbar {
	padding-top: 22px;
	padding-bottom: 22px;

	.navbar-toggler {
		&:focus {
			box-shadow: none;
			border: 0;
			outline: 0;
		}

		.navbar-toggler-icon {
			font-size: 30px;
		}
	}

	.navbar-nav {
		.nav-item {
			.nav-link {
				color: $heading-color;
				font-size: 16px;
				margin-left: 25px;
				margin-right: 25px;

				&:hover {
					color: $main-color;
				}

				&.no-after::after {
					display: none;
				}

				.chevron-down {
					transition: .1s;
				}

				&.show {
					.chevron-down {
						transform: rotate(90deg);
					}
				}
			}
		}

		.resources {
			z-index: 2;
		}
	}

	&.is-sticky {
		top: -1px;
		left: 0;
		width: 100%;
		z-index: 999;
		position: sticky;
		animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
		box-shadow: $box-shadow;
		background-color: $white-color  !important;
	}

	#burger {
		border: none;
		.navbar-toggler-icon {
			top: 1px;

		}
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: translateZ(0);
	}
}

// Movymia triangle thing	
.movy-tri {
	font-size: 11px;
	position: relative;
	bottom: 8px;
	color: black !important;
}

#movy-pi {
	span {
		font-size: 9px;
	}

}

/*
Banner Style
<<<<======================================================>>>>*/
.hero-slider-item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;

	&.bg-home {
		background-image: url(../img/banner-bg-home.jpg);
	}
	&.bg-fultium {
		background-image: url(../img/banner-bg-fultium.jpg);
	}
	&.bg-accrete {
		background-image: url(../img/banner-bg-accrete.jpg);
	}
	&.bg-binosto {
		background-image: url(../img/banner-bg-binosto.jpg);
	}
}

.banner-content {
	max-width: 410px;

	h2 {
		font-size: 80px;
		line-height: 70px;
		color: $white-color;
		max-width: 300px;
		margin-bottom: 60px;
	}

	p {
		font-weight: 400;
		color: $white-color;
		font-size: 40px;
		line-height: 45px;
		&.blurb {
			font-size: 15px;
			line-height: 25px;
		}
	}
}

.banner-seo {
	min-height: 12vw;
	text-indent:-9999px;
}

.banner-logo {
	position: relative;
    top: 13px;
	flex-direction: row-reverse;
	&.binosto {
		top: 85px;
		left: 20px;
		> img {
			width: 655px;
		}
	}
	@include media-breakpoint-down(xl) {
		&.fultium {
			top: 44px;
			left: 20px;
			> img {
				width: 355px;
			}
		}

		&.accrete {
			> img {
				max-width: 34%;
			}
		}
		&.binosto {
			top: 85px;
			left: 20px;
			> img {
				width: 355px;
			}
		}
	}
	@include media-breakpoint-down(lg) {

		&.fultium {
			top: 44px;
			left: 14px;
			> img {
				width: 285px;
			}
		}

		&.accrete {

		}
		&.binosto {
			//top: 44px;
			left: -10px;
			// flex-direction: row;
		}
	}
}

.hero-slider {
	&.owl-theme {
		.owl-nav {
			margin: 0;

			.owl-prev,
			.owl-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 10px;
				background-color: transparent;
			}

			.owl-next {
				left: auto;
				right: 10px;
			}
		}

		.owl-dots,
		.owl-theme .owl-nav {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			span {
				width: 15px;
				height: 15px;
			}
		}
	}

}

.scroll-down {
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	z-index: 2;

	a {
		color: $white-color;
		font-size: 22px;
		text-decoration: none;
	}
}

/*
Preventing Style
<<<<======================================================>>>>*/
.preventing-content {
	padding-right: 25%;
	h2 {
		font-size: 68px;
		line-height: 67px;
	}
	.tiny {
		font-size: 16px;
		line-height: 25px;
	}

	p.semibold {
		font-weight: 600;
	}

	&.regular {
		font-size: 23px;
	}
}

/*
Global Style
<<<<======================================================>>>>*/
.global-side-wrap {
	margin-left: -300px;

	span {
		font-size: 22px;
	}
}

/*
Top Shape Style
<<<<======================================================>>>>*/
.top-shape {
	position: relative;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 95px;
		background-color: #F5F5F5;
		z-index: -1;
	}
}

.white-shape {
	position: relative;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 95px;
		background-color: $white-color;
		z-index: -1;
	}
}

/*
Factore Style
<<<<======================================================>>>>*/
.factor-content {
	text-align: center;
	max-width: 1060px;
	margin: auto;

	h3 {
		color: $white-color;
		font-size: 48px;
		line-height: 61px;
		margin-bottom: 30px;
	}

	p {
		color: $white-color;
		font-size: 35px;
		line-height: 52px;
	}
}

/*
Prevention Style
<<<<======================================================>>>>*/
.prevention-title {
	text-align: center;

	h3 {
		font-size: 28px;
		line-height: 45px;
		font-family: $body-font-family;
		font-weight: 700;
		color: $blue;
	}
}

p.purpose {
	font-size: 15px;
    min-height: 67px;
    line-height: 20px;
}

/*
Features Style
<<<<======================================================>>>>*/
.single-features {
	max-width: 640px;
	margin-left: 8%;
	margin-right: 8%;

	.features-header {
		background-color: #FCC300;
		padding: 10px 30px;
		border-radius: 20px;
		max-width: 495px;
		margin-bottom: -60px;
		position: relative;
		z-index: 1;

		h3 {
			font-size: 48px;
			color: $white-color;
			margin-bottom: 0;

			sub {
				font-size: 20px;
				font-weight: 400;
			}
		}

		span {
			color: $white-color;
		}

		.movy-tri {
			bottom: 18px;
		}

		&.bg-ec691d {
			background-color: #ec691d;
		}

		&.bg-74378c {
			background-color: #74378c;
		}

		&.bg-757ea0 {
			background-color: #757ea0;
		}
	}

	.features-content {
		padding: 25px;
		background-color: $white-color;
		border-radius: 20px;
		padding-top: 100px;

		p {
			font-size: 25px;
			font-weight: 600;
			line-height: 35px;
			margin-bottom: 40px;
			color: $heading-color;
		}

		a.pi {
			font-size: 18px;
			padding-top: 20px;
			display: inline-block;
		}
	}

	.main-btn {
		background-color: #EAEAEA;
		color: $heading-color;
		font-weight: 600;
		font-size: 24px;

		img {
			margin-left: 10px;
		}
	}
}

.global-side-wrap-right {
	margin-right: -200px;
}

.global-side-wrap-right-2 {
	margin-right: -110px;
}

.features-img-3 {
	margin-top: -515px;
}

.features-img-4 {
	margin-top: -270px;
}

.features-img-5 {
	margin-top: -300px;
}

/*
Platform Style
<<<<======================================================>>>>*/
.webinar-platform-content {
	max-width: 575px;

	h2 {
		font-size: 68px;
		line-height: 90px;
		margin-bottom: 40px;
		color: $blue;
		&.c-black {
			color: black;
		}
	}

	p {
		margin-bottom: 45px;
		&.caution {
			font-size: 18px;
		}
	}
	
	p.sale {
		font-size: 17px;
	}
}

/*
Algorithm Style
<<<<======================================================>>>>*/
.algorithm-content {
	max-width: 740px;

	h2 {
		font-size: 68px;
		line-height: 90px;
		margin-bottom: 30px;
		color: $blue;
	}

	p {
		margin-bottom: 40px;
	}
}

/*
Royal Style
<<<<======================================================>>>>*/
.royal-content {
	max-width: 375px;
	margin: auto;

	p {
		color: $white-color;
		&.more {
			font-size: 0.6em;
			line-height: 1.2em;
		}
	}
}

.royal-bttn {
	background-color: $white-color;
	color: $main-color;
}

.algorithm-img {
	margin-bottom: -1px;
}

/*
References Style
<<<<======================================================>>>>*/

.references-title {
	font-size: 18px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #000000;
    padding: 0px;
    margin-bottom: 16px;
} 

.references-list {
	li {
		color: $heading-color;
		font-size: 12px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	li.plain {
		list-style: none;
		font-size: 10px;
		position: relative;
		right: 16px;
	}
}

.references-wrapper {
	max-width: 1140px;
	margin: auto;
}

/*
Information Style
<<<<======================================================>>>>*/
.information-content {
	max-width: 720px;
	margin: auto;

	.title {
		margin-bottom: 10px;
		font-size: 18px;
	}

	.dis-one {
		font-size: 12px;
		color: $heading-color;
		margin-bottom: 20px;
		width: 69%;
		margin: auto;
	}

	.dis-two {
		font-size: 18px;
		border: 1px solid $body-color;
		padding: 14px;
		margin-bottom: 20px;
	}

	.dis-three {
		font-size: 16px;
	}
}

/*
Footer Style
<<<<======================================================>>>>*/
.single-footer {
	ul {
		list-style-type: none;

		li {
			a {
				text-decoration: none;
				color: black;
				font-size: 20px;
			}
		}
	}
}

.copyright-area {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $blue;

	p {
		font-size: 15px;
		color: white;
	}
}

.webinar-platform-content {
	&.style-two {
		h2 {
			font-size: 82px;
			line-height: 94px;

			sub {
				font-size: 30px;
				font-weight: 400;
			}
		}

		h4 {
			font-size: 35px;
			line-height: 40px;
			margin-bottom: 30px;
		}
	}

	&.style-three {
		margin-left: 100px;
		max-width: 100%;

		ul {
			li {
				margin-bottom: 25px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.stay-in-touch {
	background-color: $white-color;
	padding: 30px 30px;
	padding-top: 0;
	border-radius: 0 0 28px 28px;
}

.stay-in-touch-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 1750px;
	padding-left: 30px;
	padding-right: 30px;
	z-index: 2;

	a {
		text-decoration: none;
		display: inline-block;
	}
}

.request-cost-form {
	background-color: #F5F5F5;
	padding: 50px;
	border-radius: 24px;

	.form-check {
		.form-check-label {
			font-size: 20px;
		}
	}

	.form-check-input {
		border-color: $main-color;
	}

	.smallprint > p {
		font-size: 1rem;
		text-align: center;
	}
    
	.tickem {
		font-size: 1.25rem;
	}

	.main-btn {
		margin-top: 16px;
		float: right;
		border: 1px solid $blue;
		&:disabled {
			color: #555;
			background-color: white;
			border: 1px solid #555;
		}
	};
}

.request-cost-content {
	h2 {
		font-size: 51px;
		line-height: 54px;
		margin-bottom: 40px;
	}

	p {
		max-width: 575px;
		margin-bottom: 30px;
	}
}

.label {
	font-size: 21px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 8px;
}

.all_downloads {
	h1 {
		font-size: 4rem;
		color: $blue;
	}
	h3 {
		color: $blue;
		margin-top: 18px;
	}
	.download {
		min-height: 300px;
	}
}