
/**
 * Colors
 *
 */

// here the colors

/**
 * Bootstrap customised
 *
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 */

$body-font-family: 'Quicksand', sans-serif;
$heading-font-family: 'Omnes';
$body-color: #707070;
$main-color: #23185B;
$heading-color: #000000;
$white-color: #ffffff;
$black-color: #000000;
$font-size: 25px;
$transition: all ease .5s;
$border-radius: 4px;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);